.find .find__header-list {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.find .header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find .header-btn__title {
  display: block;
  margin: 20px 0px;
  font-size: 14px;
}

.find .header-btn__icon {
  font-size: 14px;
}

.find .find__recommended {
  margin-top: 25px;
  padding: 15px 20px 0px 20px;
  border-top: 1px solid #fafafa;
}

.find .find__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 20px;
}
