.header {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 30px;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  padding: 29px 20px 15px 20px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #fafafa;
  z-index: 9;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
