.status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  color: #797979;
  background-color: #fdfdfd;
  z-index: 8;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 5px;
}
